[user]
	name = Dennis Wiersma
	email = hello@denniswiersma.com
	signingkey = 1AD1C403D903C6D8!
[alias]
	duw = push
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[push]
    autoSetupRemote = true
[core]
    editor = nvim
[pull]
	rebase = false
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
